{{define "title"}}ASCII Art Web{{end}}

{{define "body"}}
<form action="/ascii-art" method="POST">
  <div class="buttons">
    <input type="radio" id="standard" name="fontstyle" value="standard" {{if eq .SelectedStyle "standard"
      }}checked{{end}} />
    <label for="standard">Standard</label><br />

    <input type="radio" id="shadow" name="fontstyle" value="shadow" {{if eq .SelectedStyle "shadow" }}checked{{end}} />
    <label for="shadow">Shadow</label><br />

    <input type="radio" id="thinkertoy" name="fontstyle" value="thinkertoy" {{if eq .SelectedStyle "thinkertoy"
      }}checked{{end}} />
    <label for="thinkertoy">ThinkerToy</label><br />

  </div>

  <div class="textareagenerate">
    <label for="UserText">Text to convert</label><br />
    <textarea id="UserText" name="text" rows="5">{{.InputText}}</textarea><br />
    <input type="submit" value="Generate" />
  </div>
</form>

{{if .Results}}
<div class="asciioutput">
  <pre>{{.Results}}</pre>
</div>
{{end}}
{{end}}